<div style="margin: 20px">
  <div class="row">
    <div style="background-color:aqua" class="col-sm-4">
      Live News
      <div *ngFor="let data of newsArray;let i=index" class="alert alert-success" role="alert">
        {{data?.title}}
      </div>
    </div>

    <div style="background-color:rgb(202, 202, 122)" class="col-sm-4">
      Live tweets
      <div *ngFor="let loop of tweetsArray;let i=index" class="alert alert-success" role="alert">
        {{loop?.text}}
      </div>
    </div>

    <div style="background-color:rgb(149, 168, 149); border-left: 1px solid black" class="col-sm-4">
      Cricket Matches
      <div *ngFor="let loop of scoreArray;let i=index" class="alert alert-success" role="alert">
        <b> {{ loop?.team1 }} </b>
        {{ loop?.scoreTeam1 }} vs
        <div>
          <b> {{ loop?.team2  }} </b>
          {{ loop?.scoreTeam2 }}
        </div>
        <div>
          Starts At: {{ loop?.start_time | date: 'medium'}}
        </div>
      </div>
    </div>
  </div>
</div>